.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.custom-card {
  width: 90%;
  max-width: 900px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-content {
  width: 100%;
}

.table-container {
  flex: 1;
  width: 100%;
}

.table-responsive {
  overflow-y: auto;
  max-height: 60vh;
}

.no-data {
  text-align: center;
  padding: 20px;
}
