.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    padding-top: 0.3rem;
    width: 100%;
  }
  
  .td-name {
    padding-right: 8px;
  }

  input{
    color: white;   
  }

  .example-card {
    max-width: 425px;
    margin: 0 auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  mat-card-actions{
    margin-left: auto;
  }

  .fondo {
    background-image: url('../../../assets/fondo-login.jpg'); /* Ruta relativa a la imagen en assets */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh; /* Asegura que el componente ocupe toda la altura de la ventana */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white; /* Color del texto sobre el fondo */
  }